{% extends "base.html" %}
{% block content %}

<div class="box header-bg-img" style="background-image: url('{{ current_user.header_image_url }}') ;">
  <h1 class="title">
    <div class="content has-text-left has-text-white">
      {{ current_user.header_text|safe }}
    </div>
  </h1>
</div>

<div class="columns">
  <div class="column is-one-quarter">
    <div class="box">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img style="object-fit: cover;" src="{{ current_user.card_image_url }}" alt="Card image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="{{ current_user.avatar_url }}" alt="Avatar image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">{{ current_user.name }}</p>
              <p class="subtitle is-6">{{ current_user.email }}
                <span class="is-7">
                  {% if current_user.email_verified %}
                  <span class="icon-text">
                    <span class="icon has-text-success">
                      <i class="fas fa-check-square"></i>
                    </span>
                  </span>
                  {% else %}
                  <span class="icon-text">
                    <span class="icon has-text-warning">
                      <i class="fas fa-exclamation-triangle"></i>
                    </span>
                  </span>
                  {% endif %}
                </span>
              </p>
              {% if current_user.is_admin %}
              <div class="notification is-danger">
                <p class="subtitle is-4 is-italic has-text-black">admin</p>
              </div>
              {% endif %}
            </div>
          </div>
      
          <div class="content has-text-left">
            {{ current_user.description|safe }}
            <br>
            <div class="has-text-centered">
              <span class="is-italic is-size-7" style="font-family: 'Courier New', Courier, monospace;">modf: <time datetime="{{ current_user.modified_time.ctime() }}">{{ current_user.modified_time.ctime() }}</time></span>
              <br>
              <span class="is-italic is-size-7" style="font-family: 'Courier New', Courier, monospace;">crtd: <time datetime="{{ current_user.created_time.ctime() }}">{{ current_user.created_time.ctime() }}</time></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="notification">
        <button class="delete"></button>
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% endwith %}

      <label class="label has-text-left">Edit User Profile</label>
      <div class="columns">
        <div class="column">
          <form class="box has-text-left" method="POST" enctype="multipart/form-data" action="{{ url_for('main.upload_avatar') }}">
            <label class="label">Upload avatar image</label>
            <input type="file" name="avatar">
            <button class="button" type="submit">Submit</button>
          </form>
          <form class="box has-text-left" method="POST" enctype="multipart/form-data" action="{{ url_for('main.upload_header_image') }}">
            <label class="label">Upload header image</label>
            <input type="file" name="header_image">
            <button class="button" type="submit">Submit</button>
          </form>
          <form class="box has-text-left" method="POST" enctype="multipart/form-data" action="{{ url_for('main.update_user_header_text') }}">
            <label class="label">Update header text</label>
            <textarea class="textarea" id="user_header_text" name="user_header_text" >{{ markdownify(current_user.header_text) }}</textarea>
            <button class="button" type="submit">Submit</button>
          </form>
        </div>
        <div class="column">
          <form class="box has-text-left" method="POST" enctype="multipart/form-data" action="{{ url_for('main.upload_card_image') }}">
            <label class="label">Upload card image</label>
            <input type="file" name="card_image">
            <button class="button" type="submit">Submit</button>
          </form>
          <form class="box has-text-left" method="POST" enctype="multipart/form-data" action="{{ url_for('main.update_user_name') }}">
            <label class="label">Update name</label>
            <input class="input is-large has-background-white has-text-black" type="text" name="name" placeholder="{{ current_user.name }}" autofocus="" value="{{ current_user.name }}" />
            <button class="button" type="submit">Submit</button>
          </form>
          <form class="box has-text-left" method="POST" enctype="multipart/form-data" action="{{ url_for('main.update_user_description') }}">
            <label class="label">Update user description</label>
            <textarea class="textarea" id="user_description" name="user_description">{{ markdownify(current_user.description) }}</textarea>
            <button class="button" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box has-text-left">
    <label class="label">User Changes</label>
    <table class="table" style="font-size: smaller; font-family:'Courier New', Courier, monospace">
        <thead>
          <tr>
            <th>Change Code</th>
            <th>Time</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
            {% for change in changes %}
            <tr>
                <td>{{ change.change_code }}</td>
                <td>{{ change.change_time.ctime() }}</td>
                <td>{{ change.change_desc[0:100] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
  var simplemde = new SimpleMDE({ element: document.getElementById("user_description") });
  var simplemde = new SimpleMDE({ element: document.getElementById("user_header_text") });
</script>

{% endblock %}