{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box has-background-grey-lighter">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
        {% endwith %}

        <img src="/assets/img/atxcf_logo_small.jpg">

        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large has-background-white has-text-black" type="username" name="username" placeholder="Your Username" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large has-background-white has-text-black" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember" class="has-text-white-bis">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth has-background-white has-text-black">Login</button>
        </form>
    </div>
</div>
{% endblock %}