{% extends "base.html" %}
{% block content %}
<div class="columns">
    <div class="column is-one-quarter">
      {% if current_user.is_authenticated %}
      <div class="box">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img style="object-fit: cover;" src="{{ current_user.card_image_url }}" alt="Card image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="{{ current_user.avatar_url }}" alt="Avatar image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{ current_user.name }}</p>
                <p class="subtitle is-6">{{ current_user.email }}
                  <span class="is-7">
                    {% if current_user.email_verified %}
                    <span class="icon-text">
                      <span class="icon has-text-success">
                        <i class="fas fa-check-square"></i>
                      </span>
                    </span>
                    {% else %}
                    <span class="icon-text">
                      <span class="icon has-text-warning">
                        <i class="fas fa-exclamation-triangle"></i>
                      </span>
                    </span>
                    {% endif %}
                  </span>
                </p>
                {% if is_admin %}
                <div class="notification is-danger">
                  <p class="subtitle is-4 is-italic has-text-black">admin</p>
                </div>
                {% endif %}
              </div>
            </div>
        
            <div class="content has-text-left">
              {{ current_user.description|safe }}
              <br>
              <div class="has-text-centered">
                <span class="is-italic is-size-7" style="font-family: 'Courier New', Courier, monospace;">modf: <time datetime="{{ current_user.modified_time.ctime() }}">{{ current_user.modified_time.ctime() }}</time></span>
                <br>
                <span class="is-italic is-size-7" style="font-family: 'Courier New', Courier, monospace;">crtd: <time datetime="{{ current_user.created_time.ctime() }}">{{ current_user.created_time.ctime() }}</time></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="box">
        <h1 class="title">
          tx.wtf
        </h1>
        <h2 class="subtitle">
          many crypto, wow
        </h2>
        <img src="/assets/img/atxcf_logo_small.jpg">
        <p>Log in to post!</p>
      </div>
      {% endif %}

      <div class="box post-box-img">
      </div>
    </div>
    <div class="column has-text-left">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="box">
          <div class="notification is-info">
              {{ messages[0] }}
          </div>
        </div>
        {% endif %}
        {% endwith %}

        <div class="box has-text-centered post-box-img is-bold">
          <h1>Posts</h1>
        </div>

        {{ render_posts()|safe }}
    </div>
</div>

{% if current_user.is_authenticated %}
{{ render_post_message()|safe }}
{% endif %}

{% endblock %}