{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="box">
  <div class="notification is-info">
      {{ messages[0] }}
  </div>
</div>
{% endif %}
{% endwith %}

{% if title or description %}
<div class="box has-text-left">
{% if title %}
<h1>{{ title }}</h1>
{% endif %}

{% if description %}
<div class="box">
    <p>{{ description }}</p>
</div>
{% endif %}
</div>
{% endif %}

<div class="columns">
    <div class="column is-one-quarter"></div>

    <div class="column is-half">
        {{ render_posts(posts, False, True, True, False, False, False, True, True, 3)|safe }}

        {% if replies|length > 0 %}
        <hr>
        {{ render_posts(replies, False, False, True, False, False, False, True, True, 1)|safe }}
        {% endif %}

        {% if reposts|length > 0 %}
        <hr>
        {{ render_posts(reposts, False, True, True, False, False, False, True, True, 1)|safe }}
        {% endif %}
    </div>

    <div class="column is-one-quarter"></div>
</div>

{% if current_user.is_authenticated %}
{{ render_post_message("", "/p/{}".format(posts[0].id))|safe }}
{% endif %}

{% endblock %}