<div id="modal-post" class="modal">
    <div class="modal-background"></div>
  
    <div class="modal-content">
      <div class="box">
        <label class="label has-text-left" id="modal_title">Post message</label>
        <form method="POST" action="/post-message">
          <input type="hidden" name="redirect" value="{{ redirect_url }}">
          <input type="hidden" id="modal_reply_to" name="reply_to" value="">
          <input type="hidden" id="modal_repost_id" name="repost_id" value="">
          <div class="box is-hidden" id="modal_reply_to_post_box">
            <article class="media">
              <figure class="media-left" id="modal_reply_to_box_left">
                <p>Fill Me!!!</p>
              </figure>
              <div class="media-content">
                <div class="content" id="modal_reply_to_box_content">
                  <p>Fill Me!!!</p>
                </div>
              </div>
            </article>
          </div>
          <div class="box">
            <article class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <img src="{{ current_user.avatar_url }}">
                </p>
              </figure>
              <div class="media-content">
                <div class="field">
                  <p class="control">
                    <textarea class="textarea" id="post_content" name="post_content" placeholder="{{ post_content }}">{{ post_content }}</textarea>
                  </p>
                </div>
                <nav class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <button class="button is-block is-info has-background-white has-text-black">Submit</button>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <label class="checkbox">
                        <input type="checkbox" id="post_private">
                      </label>
                      <span class="icon">
                        <i class="fas fa-lock"></i>
                      </span>
                    </div>
                  </div>
                </nav>
              </div>
            </article>
          </div>
          <div class="box is-hidden" id="modal_repost_box">
            <article class="media">
              <figure class="media-left" id="modal_repost_box_left">
                <p>Fill Me!!!</p>
              </figure>
              <div class="media-content">
                <div class="content" id="modal_repost_box_content">
                  <p>Fill Me!!!</p>
                </div>
              </div>
            </article>
          </div>
        </form>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      var simplemde = new SimpleMDE({ element: document.getElementById("post_content") });
  
    // Functions to open and close a modal
    function openModal($el) {
      $el.classList.add('is-active');
    }
  
    function closeModal($el) {
      $el.classList.remove('is-active');
    }
  
    function closeAllModals() {
      (document.querySelectorAll('.modal') || []).forEach(($modal) => {
        closeModal($modal);
      });
    }
  
    function resetHidden() {
        // make sure hidden vars are reset
        var reply_to_input = document.getElementById('modal_reply_to');
        reply_to_input.value = "";
        var repost_id_input = document.getElementById('modal_repost_id');
        repost_id_input.value = "";
  
        var modal_repost_box = document.getElementById('modal_reply_to_post_box');
        modal_repost_box.classList.add('is-hidden');
        var modal_repost_box = document.getElementById('modal_repost_box');
        modal_repost_box.classList.add('is-hidden');
    }
  
    // Add a click event on buttons to open a specific modal
    (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);
  
      $trigger.addEventListener('click', () => {
        openModal($target);
  
        resetHidden();
  
        var modal_title = document.getElementById('modal_title');
        modal_title.textContent = "Post message";
      });
    });
  
    // Add a click event for reply and repost icons
    (document.querySelectorAll('.js-modal-trigger-reply') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);
  
      $trigger.addEventListener('click', () => {
        openModal($target);
  
        resetHidden();
  
        // set hidden value in modal form to pass reply_to id
        var vals = $trigger.id.split("_");
        var reply_to = vals[vals.length - 1];
        var reply_to_input = document.getElementById('modal_reply_to');
        reply_to_input.value = reply_to;
  
        var modal_title = document.getElementById('modal_title');
        modal_title.textContent = "Reply to message";
  
        // show the parent box on the modal form
        var modal_reply_to_post_box = document.getElementById('modal_reply_to_post_box');
        modal_reply_to_post_box.classList.remove('is-hidden');
  
        // fill the reply box content with the post content
        // already in the DOM. This kind of sucks but at least shows
        // the user what they are replying to.
        var post_content_box = document.getElementById('post_content_'+reply_to);
        var modal_reply_to_box_content = document.getElementById('modal_reply_to_box_content');
        modal_reply_to_box_content.innerHTML = post_content_box.innerHTML;
        var post_left_box = document.getElementById('post_left_'+reply_to);
        var modal_reply_to_box_left_content = document.getElementById('modal_reply_to_box_left');
        modal_reply_to_box_left_content.innerHTML = post_left_box.innerHTML;
      });
    });
  
    (document.querySelectorAll('.js-modal-trigger-repost') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);
  
      $trigger.addEventListener('click', () => {
        openModal($target);
  
        resetHidden();
  
        // set hidden value in modal form to pass repost_id
        var vals = $trigger.id.split("_");
        var repost_id = vals[vals.length - 1];
        var repost_id_input = document.getElementById('modal_repost_id');
        repost_id_input.value = repost_id;
  
        var modal_title = document.getElementById('modal_title');
        modal_title.textContent = "Repost message";
  
        // show the parent box on the modal form
        var modal_repost_box = document.getElementById('modal_repost_box');
        modal_repost_box.classList.remove('is-hidden');
  
        // fill the repost box content with the post content
        // already in the DOM. This kind of sucks but at least shows
        // the user what they are replying to.
        var post_content_box = document.getElementById('post_content_'+repost_id);
        var modal_repost_box_content = document.getElementById('modal_repost_box_content');
        modal_repost_box_content.innerHTML = post_content_box.innerHTML;
        var post_left_box = document.getElementById('post_left_'+repost_id);
        var modal_repost_box_left_content = document.getElementById('modal_repost_box_left');
        modal_repost_box_left_content.innerHTML = post_left_box.innerHTML;
      });
    });
  
    // Add a click event on various child elements to close the parent modal
    (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
      const $target = $close.closest('.modal');
  
      $close.addEventListener('click', () => {
        closeModal($target);
      });
    });
  
    // Add a keyboard event to close all modals
    document.addEventListener('keydown', (event) => {
      const e = event || window.event;
  
      if (e.keyCode === 27) { // Escape key
        closeAllModals();
      }
    });
  });
  </script>
