{% if current_user.is_authenticated and show_post_message_button %}
<button class="button js-modal-trigger" data-target="modal-post">
  Post message
</button>
{% endif %}

{% if posts|length == 0 %}
<div class="box">
    <p>No posts yet.</p>
</div>
{% else %}
{% for post in posts %}
{% if post.deleted %}
<div class="box post-box-img" id="post_box_{{ post.id }}"></div>
{% else %}
<div class="box" id="post_box_{{ post.id }}">
    <article class="media">
        <figure class="media-left" id="post_left_{{ post.id }}">
            {% if current_user.is_authenticated %}
            <a href="/u/{{ post.email }}">
            <figure class="image is-64x64">
                <img src="{{ post.avatar_url }}">
            </figure>
            </a>
            {% else %}
            <figure class="image is-64x64">
            <img src="{{ post.avatar_url }}">
            </figure>
            {% endif %}
        </figure>
        <div class="media-content">
        <div class="content" id="post_content_{{ post.id }}">
            <p>
            <strong>{{ post.name }}</strong> <small>{{ post.email }}</small>
            <br>
            {{ post.post_content|safe }}
            </p>
        </div>
        <nav class="level is-mobile">
            <div class="level-left">
            {% if current_user.is_authenticated and show_level_menu %}
            <a class="level-item js-modal-trigger-reply" data-target="modal-post" id="reply_{{ post.id }}">
                <span class="icon is-small"><i class="fas fa-reply"></i></span>
            </a>
            <a class="level-item js-modal-trigger-repost" data-target="modal-post" id="repost_id_{{ post.id }}">
                <span class="icon is-small"><i class="fas fa-retweet"></i></span>
            </a>
            <a class="level-item">
                <span class="icon is-small"><i class="fas fa-heart"></i></span>
            </a>
            {% endif %}
            <small class="level-item">{{ post.post_time.ctime() }}</small>
            </div>
        </nav>
        </div>
        <div class="media-right">
            {% if current_user.id == post.user_id %}
            <button class="delete delete-trigger" data-target="post_box_{{ post.id }}"></button>
            {% endif %}
        </div>
    </article>
</div>
{% endif %}
{% endfor %}

<script>
    document.addEventListener('DOMContentLoaded', () => {

        function deletePost($el, post_id) {
            $el.classList.add('post-box-img');
            $el.textContent = '';

            const url = '/delete-post';
            const data = {
                post_id: post_id
            };
            $.post(url, data, function(data, status) {
                console.log("data: " + data + ", status: " + status);
            });
        }

        (document.querySelectorAll('.delete-trigger') || []).forEach(($trigger) => {
            const post_box = $trigger.dataset.target;
            var vals = post_box.split('_');
            var post_id = vals[vals.length - 1];
            console.log("post_id: " + post_id);
            const $target = document.getElementById(post_box);
            $trigger.addEventListener('click', () => {
                deletePost($target, post_id);
            });
        });
    });
</script>
{% endif %}
