{% if current_user.is_authenticated and show_post_message_button %}
<button class="button js-modal-trigger" data-target="modal-post">
  Post message
</button>
{% endif %}

{% if posts|length == 0 %}
<div class="box">
    <p>No posts yet.</p>
</div>
{% else %}
{% for post in posts %}
{% if post.deleted %}
{% if show_deleted %}
<div class="box post-box-img" id="post_box_{{ post.id }}"></div>
{% endif %}
{% else %}
{% if not post.reply_to or show_top_level_replies %}
<div class="box" id="post_box_{{ post.id }}">
    {{ render_post(post, show_level_menu, show_delete_button, show_repost, show_replies, show_deleted_replies)|safe }}
</div>
{% endif %}
{% endif %}
{% endfor %}

<script>
    document.addEventListener('DOMContentLoaded', () => {

        function deletePost($el, post_id) {
            $el.classList.add('post-box-img');
            $el.textContent = '';

            const url = '/delete-post';
            const data = {
                post_id: post_id
            };
            $.post(url, data, function(data, status) {
                console.log("data: " + data + ", status: " + status);
            });
        }

        function addReaction(post_id, reaction_name) {
            const url = '/add-reaction';
            const data = {
                post_id: post_id,
                reaction_name: reaction_name
            };
            $.post(url, data, function(data, status) {
                console.log("data: " + data + ", status: " + status);
            });
        }

        function removeReaction(post_id, reaction_name) {
            const url = '/remove-reaction';
            const data = {
                post_id: post_id,
                reaction_name: reaction_name
            };
            $.post(url, data, function(data, status) {
                console.log("data: " + data + ", status: " + status);
            });
        }

        (document.querySelectorAll('.delete-trigger') || []).forEach(($trigger) => {
            const post_box = $trigger.dataset.target;
            var vals = post_box.split('_');
            var post_id = vals[vals.length - 1];
            console.log("post_id: " + post_id);
            const $target = document.getElementById(post_box);
            $trigger.addEventListener('click', () => {
                deletePost($target, post_id);
            });
        });

        (document.querySelectorAll('.heart-reaction-trigger') || []).forEach(($trigger) => {
            $trigger.addEventListener('click', () => {
                var vals = $trigger.id.split('_');
                var post_id = vals[vals.length - 1];
                console.log("post_id: " + post_id);
                if($trigger.classList.contains('has-text-danger')) {
                    $trigger.classList.remove('has-text-danger');
                    removeReaction(post_id, "heart");
                } else {
                    $trigger.classList.add('has-text-danger');
                    addReaction(post_id, "heart");
                }
            });
        });
    });
</script>
{% endif %}
