{% extends "base.html" %}
{% block content %}

<div class="box">
  <h1 class="title">
    Welcome, {{ name }}
  </h1>
  <p class="is-small">account created <span class="is-italic">{{ created_time }}</span></p>
</div>

<div class="columns">
  <div class="column is-one-quarter">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{ header_image_url }}" alt="Header image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{ avatar_url }}" alt="Avatar image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ name }}</p>
            <p class="subtitle is-6">{{ email }}</p>
          </div>
        </div>
    
        <div class="content has-text-left">
          {{ description|safe }}
          <br>
          <time class="is-italic" datetime="{{ modified_time }}">{{ modified_time }}</time>
        </div>
      </div>
    </div>    
  </div>
  <div class="column">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification">
      <button class="delete"></button>
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endwith %}

    <div class="columns">
      <div class="column">
        <form class="box has-text-left" method="POST" enctype="multipart/form-data" action="{{ url_for('main.upload_avatar') }}">
          <label class="label">Upload avatar image</label>
          <input type="file" name="avatar">
          <button class="button" type="submit">Submit</button>
        </form>
      </div>
      <div class="column">
        <form class="box has-text-left" method="POST" enctype="multipart/form-data" action="{{ url_for('main.upload_header_image') }}">
          <label class="label">Upload header image</label>
          <input type="file" name="header_image">
          <button class="button" type="submit">Submit</button>
        </form>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <form class="box has-text-left" method="POST" enctype="multipart/form-data" action="{{ url_for('main.update_user_name') }}">
          <label class="label">Update name</label>
          <input class="input is-large has-background-white has-text-black" type="text" name="name" autofocus="" />
          <button class="button" type="submit">Submit</button>
        </form>
      </div>
      <div class="column">
        <form class="box has-text-left" method="POST" enctype="multipart/form-data" action="{{ url_for('main.update_user_description') }}">
          <label class="label">Update user description</label>
          <textarea class="textarea" id="user_description" name="user_description" placeholder="e.g. Hello world"></textarea>
          <button class="button" type="submit">Submit</button>
        </form>
      </div>
    </div>

  </div>
</div>

<script>
  var simplemde = new SimpleMDE({ element: document.getElementById("user_description") });
</script>

{% endblock %}