{% extends "base.html" %}
{% block content %}

<div class="box">
  <h1 class="title">
    <div class="content has-text-left">
      {{ header_text|safe }}
    </div>
  </h1>
</div>

<div class="columns">
  <div class="column is-one-quarter">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{ header_image_url }}" alt="Header image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{ avatar_url }}" alt="Avatar image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ name }}</p>
            <p class="subtitle is-6">{{ email }}</p>
            {% if is_admin %}
            <div class="notification is-danger">
              <p class="subtitle is-4 is-italic has-text-black">Administrator</p>
            </div>
            {% endif %}
          </div>
        </div>
    
        <div class="content has-text-left">
          {{ description|safe }}
          <br>
          <span class="is-italic is-size-7" style="font-family: 'Courier New', Courier, monospace;">crtd: <time datetime="{{ created_time }}">{{ created_time }}</time></span>
          <br>
          <span class="is-italic is-size-7" style="font-family: 'Courier New', Courier, monospace;">modf: <time datetime="{{ modified_time }}">{{ modified_time }}</time></span>
        </div>
      </div>
    </div>    
  </div>
  <div class="column">
    <div class="box">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="notification">
        <button class="delete"></button>
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% endwith %}

      <label class="label has-text-left">Edit User Profile</label>
      <div class="columns">
        <div class="column">
          <form class="box has-text-left" method="POST" enctype="multipart/form-data" action="{{ url_for('main.upload_avatar') }}">
            <label class="label">Upload avatar image</label>
            <input type="file" name="avatar">
            <button class="button" type="submit">Submit</button>
          </form>
          <form class="box has-text-left" method="POST" enctype="multipart/form-data" action="{{ url_for('main.upload_header_image') }}">
            <label class="label">Upload header image</label>
            <input type="file" name="header_image">
            <button class="button" type="submit">Submit</button>
          </form>
          <form class="box has-text-left" method="POST" enctype="multipart/form-data" action="{{ url_for('main.update_user_name') }}">
            <label class="label">Update name</label>
            <input class="input is-large has-background-white has-text-black" type="text" name="name" autofocus="" />
            <button class="button" type="submit">Submit</button>
          </form>
          <form class="box has-text-left" method="POST" enctype="multipart/form-data" action="{{ url_for('main.update_user_header_text') }}">
            <label class="label">Update header text</label>
            <textarea class="textarea" id="user_header_text" name="user_header_text" placeholder="e.g. Hello world"></textarea>
            <button class="button" type="submit">Submit</button>
          </form>
        </div>
        <div class="column">
          <form class="box has-text-left" method="POST" enctype="multipart/form-data" action="{{ url_for('main.update_user_description') }}">
            <label class="label">Update user description</label>
            <textarea class="textarea" id="user_description" name="user_description" placeholder="e.g. Hello world"></textarea>
            <button class="button" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var simplemde = new SimpleMDE({ element: document.getElementById("user_description") });
  var simplemde = new SimpleMDE({ element: document.getElementById("user_header_text") });
</script>

{% endblock %}