{% extends "base.html" %}

{% block content %}
<h1 class="title">
  System Log
</h1>
<h2 class="subtitle">
  many crypto, wow
</h2>
<img src="/assets/img/atxcf_logo_small.jpg">

<table class="table" style="font-family:'Courier New', Courier, monospace">
    <thead>
      <tr>
        <th>Event Code</th>
        <th>Time</th>
        <th>Remote Addy</th>
        <th>Agent</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.event_code }}</td>
            <td>{{ log.event_time.ctime() }}</td>
            <td>{{ log.remote_addr }}</td>
            <td>{{ log.user_agent[0:42] }}</td>
            <td>{{ log.event_desc[0:42] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
