{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div class="column is-one-quarter">
        <div class="box">
            <h1 class="title">
              User List
            </h1>
            <img src="/assets/img/atxcf_logo_small.jpg">
        </div>
        <div class="box post-box-img"></div>
    </div>
    <div class="column has-text-left">
        <div class="box">
            <table class="table" style="font-size: smaller; font-family:'Courier New', Courier, monospace">
                <thead>
                  <tr>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>uv/pv</th>
                    <th>Last Login</th>
                    <th>Is Admin</th>
                    {% if current_user.is_admin %}
                    <th>Last Addr</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>
                            <a href="/u/{{ user.email }}">
                                <figure class="image is-32x32">
                                    <img src="{{ user.avatar_url }}">
                                </figure>
                            </a>
                        </td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.view_count }}/{{ user.post_view_count }}</td>
                        {% if user.last_login %}
                        <td>{{ user.last_login.ctime() }}</td>
                        {% else %}
                        <td>None</td>
                        {% endif %}
                        <td>{{ user.is_admin }}</td>
                        {% if current_user.is_admin %}
                        <td>{{ user.last_login_addr }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
