{% extends "base.html" %}
{% block content %}

<div class="box header-bg-img" style="background-image: url('{{ user.header_image_url }}') ;">
  <h1 class="title">
    <div class="content has-text-left has-text-white">
      {{ user.header_text|safe }}
    </div>
  </h1>
</div>

<div class="columns">
  <div class="column is-one-quarter">
    <div class="box">
      {{ render_user_card(user)|safe }}
    </div>
    {% if current_user.id == user.id %}
    <a class="button" href="/edit-profile">Edit</a>
    {% endif %}

    <div class="box post-box-img"></div>

    <div class="box has-text-left">
      <label class="label">Hash Tags</label>
      <ul>
      {% for tag in tags %}
        <li><a href="/h/{{ tag.name }}">#{{ tag.name }} {{ tag.count }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="column has-text-left">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="box">
        <div class="notification is-info">
            {{ messages[0] }}
        </div>
    </div>
    {% endif %}
    {% endwith %}

    {{ render_posts(posts, True, True, True, False, True, False, True, True)|safe }}
  </div>
</div>

{% if current_user.id == user.id %}
{{ render_post_message("", "/u/{}".format(user.email))|safe }}
{% else %}
{{ render_post_message(user.email, "/u/{}".format(user.email))|safe }}
{% endif %}

{% endblock %}