{% extends "base.html" %}
{% block content %}

<div class="box header-bg-img" style="background-image: url('{{ user.header_image_url }}') ;">
  <h1 class="title">
    <div class="content has-text-left has-text-white">
      {{ user.header_text|safe }}
    </div>
  </h1>
</div>

<div class="columns">
  <div class="column is-one-quarter">
    <div class="box">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img style="object-fit: cover;" src="{{ user.card_image_url }}" alt="Card image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="{{ user.avatar_url }}" alt="Avatar image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">{{ user.name }}</p>
              <p class="subtitle is-6">{{ user.email }} 
                <span class="is-7">
                  {% if user.email_verified %}
                  <span class="icon-text">
                    <span class="icon has-text-success">
                      <i class="fas fa-check-square"></i>
                    </span>
                  </span>
                  {% else %}
                  <span class="icon-text">
                    <span class="icon has-text-warning">
                      <i class="fas fa-exclamation-triangle"></i>
                    </span>
                  </span>
                  {% endif %}
                </span>
              </p>
              {% if user.is_admin %}
              <div class="notification is-danger has-text-centered">
                <p class="subtitle is-4 is-italic has-text-black">admin</p>
              </div>
              {% endif %}
            </div>
          </div>
      
          <div class="content has-text-left">
            {{ user.description|safe }}
            <br>
            <div class="has-text-centered">
              <span class="is-italic is-size-7" style="font-family: 'Courier New', Courier, monospace;">modf: <time datetime="{{ user.modified_time.ctime() }}">{{ user.modified_time.ctime() }}</time></span>
              <br>
              <span class="is-italic is-size-7" style="font-family: 'Courier New', Courier, monospace;">crtd: <time datetime="{{ user.created_time.ctime() }}">{{ user.created_time.ctime() }}</time></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if current_user.id == user.id %}
    <a class="button" href="/edit-profile">Edit</a>
    {% endif %}
  </div>
  <div class="column has-text-left">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="box">
        <div class="notification is-info">
            {{ messages[0] }}
        </div>
    </div>
    {% endif %}
    {% endwith %}

    {% if current_user.id == user.id %}
    <button class="button js-modal-trigger" data-target="modal-post">
      Post message
    </button>
    {% endif %}

    {% if posts|length == 0 %}
    <div class="box">
      <p>No posts yet.</p>
    </div>
    {% endif %}

    {% for post in posts %}
    <div class="box">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="{{ user.avatar_url }}">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ user.name }}</strong> <small>{{ user.email }}</small>
              <br>
              {{ post.post_content|safe }}
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-reply"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-retweet"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-heart"></i></span>
              </a>
              <small class="level-item">{{ post.post_time.ctime() }}</small>
            </div>
          </nav>
        </div>
        <div class="media-right">
          <button class="delete"></button>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
</div>

{% if current_user.id == user.id %}
<div id="modal-post" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <label class="label has-text-left">Post message</label>
      <form method="POST" action="/post-message">
        <input type="hidden" name="redirect" value="/u/{{ user.email }}">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="{{ current_user.avatar_url }}">
            </p>
          </figure>
          <div class="media-content">
            <div class="field">
              <p class="control">
                <textarea class="textarea" id="post_content" name="post_content" placeholder="Add a comment..."></textarea>
              </p>
            </div>
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <button class="button is-block is-info has-background-white has-text-black">Submit</button>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <label class="checkbox">
                    <input type="checkbox"> Hidden (doesn't work yet)
                  </label>
                </div>
              </div>
            </nav>
          </div>
        </article>
      </form>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endif %}

{% if current_user.id == user.id %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    var simplemde = new SimpleMDE({ element: document.getElementById("post_content") });

  // Functions to open and close a modal
  function openModal($el) {
    $el.classList.add('is-active');
  }

  function closeModal($el) {
    $el.classList.remove('is-active');
  }

  function closeAllModals() {
    (document.querySelectorAll('.modal') || []).forEach(($modal) => {
      closeModal($modal);
    });
  }

  // Add a click event on buttons to open a specific modal
  (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
    const modal = $trigger.dataset.target;
    const $target = document.getElementById(modal);

    $trigger.addEventListener('click', () => {
      openModal($target);
    });
  });

  // Add a click event on various child elements to close the parent modal
  (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
    const $target = $close.closest('.modal');

    $close.addEventListener('click', () => {
      closeModal($target);
    });
  });

  // Add a keyboard event to close all modals
  document.addEventListener('keydown', (event) => {
    const e = event || window.event;

    if (e.keyCode === 27) { // Escape key
      closeAllModals();
    }
  });
});
</script>
{% endif %}

{% endblock %}