/* This is the main stylesheet*/
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.container {
  height: 100vh;
  background-color: black;
  position: relative;
}

.logo {
  top: 43%;
  right: 85px;
  z-index: 2;
  width: 189px;
}

.main-logo {
  width: 189px;
  left: 25px;
}

img {
  position: absolute;
}

.moon {
  width: 268px;
  top: -10px;
  right: -13px;
}

.backGround {
  right: -247px;
  width: 696px;
  top: -88px;
}

.wrapper {
  top: 50%;
  position: absolute;
  width: 461px;
  left: 50%;
  transform: translate(-50%, -50%);
}

header h1 {
  font: normal normal bold 35px Helvetica;
  font-weight: 700;
  color: #ffffff;
}

header h2 {
  font: normal 300 26px Helvetica;
  color: #ffffff;
}

.wrapper p {
  text-align: left;
  font: normal normal 300 15px Helvetica;
  letter-spacing: 0px;
  color: #b3b3b3;
  opacity: 1;
  line-height: 25px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.wrapper h5 {
  font: normal normal 300 14px Helvetica;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

button {
  background: #292832 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 10px 6px rgba(0, 0, 0, 0.1607843137), 0px 10px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 17px;
  opacity: 1;
  padding: 15px 54px;
  text-align: left;
  font: normal normal normal 19px Helvetica;
  letter-spacing: 0px;
  color: #fff5f5;
  opacity: 1;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  margin: 52px 0;
}

.press {
  display: flex;
  margin-left: 14px;
  align-items: center;
}

.press span {
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-family: Helvetica;
  font-size: 17px;
  font-weight: 700;
  margin: 0 9px;
}

.press i {
  color: white;
  transform: rotate(91deg);
  font-size: 13px;
}

.press h5 {
  color: white;
  font-family: Helvetica;
}

.side {
  font: normal normal 262 20px Helvetica;
  letter-spacing: 0px;
  color: #b3b3b3;
  opacity: 1;
  position: absolute;
  top: 35%;
  left: 107px;
  transform: rotate(-90deg);
}

footer {
  position: absolute;
  bottom: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer h5 {
  font: normal normal 100 14px Helvetica;
  letter-spacing: 0px;
  color: #707070;
}

.wrapper section {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.num-section {
  font: normal normal 100 20px Helvetica;
  color: #c8befb;
  opacity: 1;
  margin-right: 10px;
}

.num-section i {
  font-size: 16px;
  margin-left: 6px;
}

.wrapper p.question-one {
  font-size: 22px;
}

.bold {
  font-weight: 900;
  color: white;
}

section.section-down {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 22px 0;
}

.choose {
  font: normal normal 300 23px Helvetican;
  color: #b3b3b3;
  margin: 13px 0;
}

.or {
  font: normal normal normal 18px Helvetica;
  letter-spacing: 0px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.or span {
  width: 31px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
}

.or .left {
  left: 183px;
}

.or .right {
  right: 183px;
}

.container .left-arrow {
  color: #fff;
  position: absolute;
  left: 107px;
  font-size: 31px;
  cursor: pointer;
}

.top-and-down-btns {
  color: #ffffff;
  display: flex;
  position: absolute;
  right: 45px;
  z-index: 100;
  top: -53px;
  cursor: pointer;
  background: #2b2935 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 10px 6px rgba(0, 0, 0, 0.1607843137), 0px 10px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 11px;
  opacity: 1;
}

.p-a {
  padding: 10px;
}

.moon.type-two {
  width: 200px;
  top: 79px;
  right: 144px;
}

.earth {
  width: 176px;
  top: 11px;
  right: -27px;
  z-index: 100;
}

.section-down input {
  padding: 14px 122px 14px 1px;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  text-align: left;
  font: normal normal 300 22px Helvetica;
  letter-spacing: 0px;
  color: #3c3c4b;
}

.SE {
  position: absolute;
  bottom: 169px;
  left: 39px;
  font: normal normal 300 13px Helvetica;
  letter-spacing: 0px;
  color: #c8c6f3;
  opacity: 1;
}

.SE span {
  font-family: Helvetica;
  font-weight: 700;
  margin: 0 8px;
}

.button.two-o {
  margin: 73px 0;
}

.moon.type-three {
  width: 153px;
  top: 179px;
  right: 144px;
}

.earth.type-one {
  width: 295px;
  top: 11px;
  right: -90px;
  z-index: 100;
}

.section-down.trajectories {
  flex-direction: row;
}

.section-down.trajectories input {
  border: 1px solid;
  padding: 10px;
  width: 124px;
  font: normal normal 300 16px Helvetica;
  margin: 13px;
}

.option {
  font-size: 14px;
  color: #3c3c4a;
}

.options {
  display: flex;
  gap: 44px;
}

.answer {
  margin: 12px;
  border: 2px solid #3c3c4a;
  opacity: 1;
  padding: 11px 24px 11px 9px;
  cursor: pointer;
  font: normal normal 100 17px Helvetica;
  color: #c8c6f3;
}

.answer span {
  border: 2px solid #3c3c4a;
  padding: 5px 7px;
  margin-right: 12px;
}

.options.type-two-options {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.answer._2 {
  margin-bottom: 0;
}

.SE #enter {
  transform: rotate(91deg);
}

.earth.type-three {
  width: 413px;
  right: -104px;
}

.moon.type-four {
  top: 116px;
  right: 237px;
  width: 172px;
}

.moon.type-five {
  top: 127px;
  right: 286px;
  width: 81px;
}

.earth.type-four {
  width: 500px;
  right: -185px;
}

.moon.type-six {
  top: 66px;
  right: 286px;
  width: 81px;
}

.wrapper .button button {
  border: 0 !important;
}/*# sourceMappingURL=typography.css.map */